<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <form method="get" class="conatiner">
           <button>
            <a href="/home">MEMORY OF BOOKS</a>
           </button> 
           <button><a  href="/new">Add Books</a></button>
           <button><a href="/help">Help</a></button>
           <button> <a href="">Users</a></button>
           <button>  <a href="">About</a></button>
        
        </form>
</body>
</html>