
<!DOCTYPE html>
<html lang="en">
    <head>
    <title>API PROJECT</title>
        <link rel="stylesheet" href="index.css">
    </head>
<body>
    <img class="bImage" src="images/Background.jpg"  alt="Background">
<form  method="get"  class="main">
    <div class="sub">
        <button  class="frontButton" formaction="dogsImage" >Dog Image</button>
    <button  class="frontButton" formaction="catsImages">Cat Image</button>
    <button  class="frontButton" formaction="bothImages">Both</button>
    </div>
    

</form>
    </body>
</html>
